body, html
  margin: 0
  overflow: hidden
  height: 100%
  max-height: 100%

#main
  h4
    color: green
  .search-bar
    margin-bottom: 10px
  .row
    #stops
      position: relative
      height: 500px
      overflow-y: scroll
    .stop
      margin: 3px
    #vehicles
      height: 500px
      position: relative
      overflow-y: scroll
  #vehicles
    .reload-button
      margin-bottom: 6px
