@import "~bootstrap/scss/bootstrap"

body, html
  margin: 0

#main
  margin-top: 60px
  h4
    color: green
  .search-bar
    margin-bottom: 10px
  #vehicles
    .reload-button
      margin-bottom: 6px
