<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Detransport</title>
  <meta name="description" content="Detransport">
  <meta name="author" content="Detransport">

  <!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>

<body>
  Hello from Ruby <%= RUBY_VERSION %>!
  <div id="app">
    {{ message }}
    </hr>
    <h4>Stops({{Object.keys(filteredStops).length}}):</h4>
    <input type="text" v-model="search" class="form-control" />

    <div v-for="stop in filteredStops">
      {{ stop.name }}
    </div>
  </div>
  <script src="javascripts/application.js"></script>
</body>
</html>
