<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Detransport</title>
  <meta name="description" content="Detransport">
  <meta name="author" content="Detransport">

  <!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>

<body>
  Hello from Ruby <%= RUBY_VERSION %>
  <div id="app">
    {{ message }}
  </div>
  <script src="javascripts/application.js"></script>
</body>
</html>
