<!doctype html>
<html lang="en">
  <head>
    <%= erb :'layouts/_google_analytics' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <meta name="description" content="Detransport">
    <meta name="author" content="Detransport">

    <!-- <link rel="stylesheet" href="css/styles.css"> -->
</head>

<body>
  <div id="root">
    <%= erb :'layouts/navbar' %>

    <%= yield %>

  </div>
  <script src="/javascripts/application.js"></script>
  <link rel="stylesheet" type="text/css" href="application.css">
</body>

</html>
