<!doctype html>
<html lang="en">
  <head>
    <%= erb :'layouts/_google_analytics' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <meta name="description" content="Detransport">
    <meta name="author" content="Detransport">
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>

<body>
  <div id="app">
    <header>
      <%= erb :'layouts/navbar' %>
    </header>

    <main role="main" class="container">
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">2018-2019 © detransport</span>
      </div>
    </footer>

  </div>

  <script src="/javascripts/application.js"></script>
</body>

</html>
